html {
    font-family: monospace;
}

div {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

textarea {
    width: 99%;
    height: 8em;
}
textarea.tags {
    height: 4em;
}

h1:hover {
    cursor: pointer;
}
h1 {
    text-align: center;
    margin-bottom: 0px;
}

.text {
    padding: 2px;
    overflow: hidden;
}

div#head {
}
div#subhead {
    text-align: center;
    margin-bottom: 4px;
}
div#user {
    display: inline;
}
div#working {
    display: inline;
}
div#main {
    max-width: 960px;
    width: 100%;
    margin: auto;
}

/* list of areas */
div.row:hover {
    border-width: 2px;
    cursor: pointer;
}
div.row {
    max-width: 960px;
    width: 100%;
    border: 1px solid gray;
    margin-top: 2px;
    overflow: hidden;
}

/* area info */
div#info {
    max-width: 960px;
    width: 100%;
}
div#details {
}
div.button:hover {
    border-width: 2px;
    cursor: pointer;
}
div.button {
    width: 100%;
    border: 1px solid gray;
    margin-top: 4px;
    text-align: center;
    font-variant: small-caps;
    font-size: 1.5em;
}
div#commits {
    max-width: 960px;
    width: 100%;
}
div.commit:hover {
    border-width: 2px;
    cursor: pointer;
}
div.commit {
    width: 100%;
    border: 1px solid gray;
    margin-bottom: 4px;
}
div.commit_message {
    white-space: pre;
}
div.commit_sign {
    text-align: right;
}
